<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%- title %></title>
  </head>
  <body>
    <%- include ('main/header'); %>

    <a class="homebutton" href="<%- homebutton %>">
      <main class="homemain">
          <p class="hometekst"><%- homebuttonlink %><p>
      </main>
    </a>

    <%- include ('main/footer'); %>
  </body>
</html>
